<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>曼德拉草汤</string>
		<key>icon</key>
		<string>Mandrake_Soup.png</string>
		<key>health</key>
		<string>+100</string>
		<key>hungry</key>
		<string>+150</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>60</string>
		<key>need</key>
		<string>曼德拉草x1</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华夫饼</string>
		<key>icon</key>
		<string>Waffles.png</string>
		<key>health</key>
		<string>+60</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>10</string>
		<key>need</key>
		<string>黄油x1,蛋类x1,浆果x1</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火龙果派</string>
		<key>icon</key>
		<string>Dragonpie.png</string>
		<key>health</key>
		<string>+40	</string>
		<key>hungry</key>
		<string>+75</string>
		<key>sanity</key>
		<string>+5</string>
		<key>time</key>
		<string>15</string>
		<key>badTime</key>
		<string>40</string>
		<key>need</key>
		<string>火龙果x1</string>
		<key>limit</key>
		<string>不能放肉类</string>
	</dict>
	<dict>
		<key>name</key>
		<string>波兰饺子</string>
		<key>icon</key>
		<string>Pierogi.png</string>
		<key>health</key>
		<string>+40</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>time</key>
		<string>20</string>
		<key>badTime</key>
		<string>20</string>
		<key>need</key>
		<string>蛋类x1,肉类x0.5,蔬菜x0.5</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
</array>
</plist>
