<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>曼德拉草汤</string>
		<key>icon</key>
		<string>Mandrake_Soup.png</string>
		<key>health</key>
		<string>+100</string>
		<key>hungry</key>
		<string>+150</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>60</string>
		<key>need</key>
		<string>曼德拉草x1</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华夫饼</string>
		<key>icon</key>
		<string>Waffles.png</string>
		<key>health</key>
		<string>+60</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>10</string>
		<key>need</key>
		<string>黄油x1,蛋类x1,浆果x1</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火龙果派</string>
		<key>icon</key>
		<string>Dragonpie.png</string>
		<key>health</key>
		<string>+40	</string>
		<key>hungry</key>
		<string>+75</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>火龙果x1</string>
		<key>limit</key>
		<string>不能放肉类</string>
	</dict>
	<dict>
		<key>name</key>
		<string>波兰饺子</string>
		<key>icon</key>
		<string>Pierogi.png</string>
		<key>health</key>
		<string>+40</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>time</key>
		<string>20</string>
		<key>badTime</key>
		<string>20</string>
		<key>need</key>
		<string>蛋类x1,肉类x0.5,蔬菜x0.5</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼排</string>
		<key>icon</key>
		<string>Fishsticks</string>
		<key>health</key>
		<string>+40</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>10</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>鱼类x0.5,树枝x1</string>
		<key>limit</key>
		<string>树枝最多x1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蜂蜜火腿</string>
		<key>icon</key>
		<string>Honey_Ham</string>
		<key>health</key>
		<string>+30</string>
		<key>hungry</key>
		<string>+75</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>肉类x2,蜂蜜x1</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼塔可</string>
		<key>icon</key>
		<string>Fish_Tacos</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>10</string>
		<key>need</key>
		<string>鱼类x0.5,爆米花x1</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛙腿三明治</string>
		<key>icon</key>
		<string>Froggle_Bunwich</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>蛙腿x1,蔬菜x0.5</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奶油松饼</string>
		<key>icon</key>
		<string>Butter_Muffin</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>蝴蝶翅膀x1,蔬菜x0.5</string>
		<key>limit</key>
		<string>不能放肉类</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果拼盘	</string>
		<key>icon</key>
		<string>Fruit_Medley</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+25</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>10</string>
		<key>time</key>
		<string>6</string>
		<key>need</key>
		<string>水果x3.0</string>
		<key>limit</key>
		<string>不能放肉类,蔬菜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蜂蜜肉块	</string>
		<key>icon</key>
		<string>Honey_Nuggets</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>肉类x0.5,蜂蜜x1</string>
		<key>limit</key>
		<string>少于2.0的肉类,不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火鸡大餐</string>
		<key>icon</key>
		<string>Turkey_Dinner</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+75</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>60</string>
		<key>need</key>
		<string>鸡腿x2,肉类x0.5,蔬菜或水果x0.5</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>培根蛋</string>
		<key>icon</key>
		<string>Bacon_and_Eggs</string>
		<key>health</key>
		<string>+20</string>
		<key>hungry</key>
		<string>+75</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>20</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>肉类x1.5,蛋类x2</string>
		<key>limit</key>
		<string>不能放蔬菜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炖肉汤</string>
		<key>icon</key>
		<string>Meaty_Stew</string>
		<key>health</key>
		<string>+12</string>
		<key>hungry</key>
		<string>+150</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>10</string>
		<key>time</key>
		<string>15</string>
		<key>need</key>
		<string>肉类x3.0</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酿茄子</string>
		<key>icon</key>
		<string>Stuffed_Eggplant</string>
		<key>health</key>
		<string>+3</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>茄子x1,蔬菜x0.5</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉丸子</string>
		<key>icon</key>
		<string>Meatballs</string>
		<key>health</key>
		<string>+3</string>
		<key>hungry</key>
		<string>+62.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>10</string>
		<key>time</key>
		<string>15</string>
		<key>need</key>
		<string>肉类x0.5</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烤肉串</string>
		<key>icon</key>
		<string>Kabobs</string>
		<key>health</key>
		<string>+3</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>肉类x0.5,树枝x1</string>
		<key>limit</key>
		<string>最多树枝x1,最多怪物肉x1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>果酱泥</string>
		<key>icon</key>
		<string>Fist_Full_of_Jam</string>
		<key>health</key>
		<string>+3</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>10</string>
		<key>need</key>
		<string>水果x0.5</string>
		<key>limit</key>
		<string>不能放怪物肉,蔬菜,树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蔬菜杂烩</string>
		<key>icon</key>
		<string>Ratatouille</string>
		<key>health</key>
		<string>+3</string>
		<key>hungry</key>
		<string>+25</string>
		<key>sanity</key>
		<string>+5</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>20</string>
		<key>need</key>
		<string>蔬菜x0.5</string>
		<key>limit</key>
		<string>不能放肉类,树枝</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南瓜饼干</string>
		<key>icon</key>
		<string>Pumpkin_Cookie</string>
		<key>health</key>
		<string>0</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>+15</string>
		<key>badTime</key>
		<string>10</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>南瓜x1,蜂蜜x2</string>
		<key>limit</key>
		<string>无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太妃糖</string>
		<key>icon</key>
		<string>Taffy</string>
		<key>health</key>
		<string>-3</string>
		<key>hungry</key>
		<string>+25</string>
		<key>sanity</key>
		<string>+15</string>
		<key>badTime</key>
		<string>15</string>
		<key>time</key>
		<string>40</string>
		<key>need</key>
		<string>蜂蜜x3</string>
		<key>limit</key>
		<string>不能放肉类</string>
	</dict>
	<dict>
		<key>name</key>
		<string>怪物千层派</string>
		<key>icon</key>
		<string>Monster_Lasagna</string>
		<key>health</key>
		<string>-20	</string>
		<key>hungry</key>
		<string>+37.5</string>
		<key>sanity</key>
		<string>-20</string>
		<key>badTime</key>
		<string>6</string>
		<key>time</key>
		<string>10</string>
		<key>need</key>
		<string>怪物肉x2</string>
		<key>limit</key>
		<string>不能放树枝</string>
	</dict>
</array>
</plist>
